{% extends "layout.html.twig" %}
{% block content %}
<div id="third-option">
    <div class="container">
        <div class="row header">
            <div class="col-md-12">
                <h3>Wiskundebijles met voordelige urenpakketten</h3>
                <p>
                    Beter worden in wiskunde is niet moeilijk. Het is vooral belangrijk om heel veel te oefenen.
                    Want alleen door te oefenen ga je wiskunde echt begrijpen en dat is de sleutel tot succes.
                </p>
                <p>
                    U kunt bij De Bijlesformule losse uren afnemen of kiezen voor de verschillende voordelige
                    bijlespakketten.
                    Om goed voorbereid te zijn voor een proefwerk adviseren we om wekelijks 1 à 2 uur bijles te nemen.
                    Met een pakket van 12 uur bent u dan ook voorzien van begeleiding vanaf de introductie van een
                    onderwerp tot aan het bijbehorende proefwerk.
                </p>
                <p>
                    De pakketten blijven altijd geldig. Deze hoeven dus niet binnen een bepaalde periode gebruikt te
                    worden.
                    Voor advies over de bijlespakketten kunt u natuurlijk altijd <a href="{{ siteUrl('/contact') }}">contact</a> met mij opnemen.
                </p>
            </div>
        </div>

        <div class="row charts">
            <div class="col-md-12">
                {% for package in packages %}
                <div class="chart {{ package['class'] }}">
                    <div class="plan-name">{{ package['name'] }}</div>
                    <div class="quantity">
                        <span class="dollar">&euro;</span>
                        <span class="price">{{ (package['price'] / package['hours'])|number_format(2, '.', ',') }}</span>
                        <span class="dollar">/ uur</span>
                    </div>
                    <div class="specs">
                        <div class="spec">
                            <span class="variable">{{ package['hours'] }}</span>
                            uur
                        </div>
                        <div class="spec">
                            <span class="variable">&euro;{{ package['price'] }}</span>
                            totaal
                        </div>
                        <div class="spec">
                            <span class="variable">&euro;{{ package['hours'] * default_rate - package['price']  }}</span>
                            korting
                        </div>
                    </div>
                    <a class="btn-signup button-clear" href="contact?vraag={{ package['name'] | url_encode }}">
                        <span>Vraag dit pakket aan</span>
                    </a>
                </div>
                {% endfor %}
                <div class="basic-plan">
                    <div class="plan-name">Losse les</div>
                    <div class="quantity">
                        <span class="dollar">&euro;</span>
                        <span class="price">{{ default_rate|number_format(2, '.', ',') }}</span>
                    </div>
                    <p class="description">
                        Wil je snel 1 of 2 lessen om voor een proefwerk voor te bereiden?<br>
                        Dan kun je een klein aantal bijlessen nemen voor &euro;{{ default_rate }}&nbsp;per&nbsp;uur.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}