{% extends "layout.html.twig" %}
{% block content %}
<div id="third-option">
    <div class="container">
        <div class="row header">
            <div class="col-md-12">
                <h3>Bespaar met behulp van &eacute;&eacute;n deze pakketten.</h3>
                <p>
                    Om goed voorbereid te zijn voor een proefwerk adviseer ik elke week 1 &agrave; 2 uur bijles te nemen.
                    Met een pakket van 12 uur ben je dan ook voorzien van begeleiding vanaf de introductie van een
                    hoofdstuk tot aan het bijbehorende proefwerk.
                </p>
                <!-- TODO: move to FAQ -->
                <p>
                    Voor lessen in Oisterwijk, Moergestel, Oirschot en regio Eindhoven worden geen reiskosten gerekend.
                </p>
                <p>
                    De pakketten blijven altijd geldig. Deze hoeven dus niet binnen een bepaalde periode gebruikt te
                    worden.
                </p>
            </div>
        </div>

        <div class="row charts">
            <div class="col-md-12">
                {% for package in packages %}
                <div class="chart {{ package['class'] }}">
                    <div class="plan-name">{{ package['name'] }}</div>
                    <div class="quantity">
                        <span class="dollar">&euro;</span>
                        <span class="price">{{ package['price'] }}</span>
                    </div>
                    <div class="specs">
                        <div class="spec">
                            <span class="variable">{{ package['hours'] }}</span>
                            uur
                        </div>
                        <div class="spec">
                            <span class="variable">&euro;{{ package['price'] / package['hours'] }}</span>
                            per uur
                        </div>
                        <div class="spec">
                            <span class="variable">&euro;{{ package['hours'] * default_rate - package['price']  }}</span>
                            korting
                        </div>
                    </div>
                    <a class="btn-signup button-clear" href="contact?vraag={{ package['name'] | url_encode }}">
                        <span>Vraag dit pakket aan</span>
                    </a>
                </div>
                {% endfor %}
                <div class="basic-plan">
                    <div class="plan-name">Losse les</div>
                    <div class="quantity">
                        <span class="dollar">&euro;</span>
                        <span class="price">{{ default_rate }}</span>
                    </div>
                    <p class="description">
                        Wil je snel 1 of 2 lessen om voor een proefwerk voor te bereiden?<br>
                        Dan kun je een klein aantal bijlessen nemen voor &euro;45&nbsp;per&nbsp;uur.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}